@using BookManagementSystem.UI.Services.Base;
@using BookManagementSystem.UI.UnitOfWork;
@using BookManagementSystem.UI.Components;

@page "/authors"
@inject IUnitOfWork unitOfWork;
@inject NavigationManager navigationManager;

<PageTitle>Authors</PageTitle>

@if (Authors == null)
{
    <p>loading...</p>
}
else
{

    <h1>Authors</h1>
    <hr />

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Birth year</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Authors)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.AuthorName</td>
                    <td>@item.BirthYear</td>
                    <td>
                        <div>
                            <a @onclick="() => Details(item.Id)">Details</a>
                            <a @onclick="() => Details(item.Id)">Edit</a>
                            <a @onclick="() => Details(item.Id)">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p class="">@TotalPages</p>
    <GenericTable Items="Authors" TItem="AuthorPagedListDTO" />
    <Button OnClick="@RefreshData" Text="Refresh data" />

}


